.scrollableContainer 
    position: relative
    margin: 0 auto
    &__list
        display: flex
        overflow-x: hidden
        list-style: none
        padding: 0 10px
        margin: 0
        width: 94vw
        &_item
            &:not(:last-child) 
                margin-right: 2em

.button 
    position: absolute
    top: 30%
    width: 36px
    height: 36px
    border-radius: 50%
    border: none
    background-color: #fff
    box-shadow: 0 4px 8px rgb(0 0 0 / 20%)
    font-size: 1.2rem
    cursor: pointer
    z-index: 2
    &--hidden
        display: none  
.buttonLeft 
    left: -20px 
.buttonRight 
    right: -20px