.catalog
    margin-top: 59px
    &__breadcrumbs
        margin-left: 80px
        a
            font-size: 18px
            color: rgb(169, 169, 169)
            text-decoration: none
            span
                font-size: 28px
                color: rgb(40, 40, 40)
    &__products
        margin-top: 44px
        padding: 0 1%
        display: flex
        justify-content: space-between