.carousel
    &-caption
        width: 477px
        // padding-bottom: 0
        display: flex
        flex-direction: column
    &-indicators
        bottom: -54px
        [data-bs-target]
            width: 12px
            height: 12px
            border-radius: 50%
            background-color: rgba(40, 40, 40, 0.5)
            opacity: 0.5
            &.active
                background-color: rgb(42, 92, 246)
